@{
    ViewBag.Title = "Contact";
}
    <div class="col-xl"></div>
<div class="container col-xl">
        
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address class="row">
        <p>Moscow </p>
        <abbr title="Phone">P:</abbr>
        <p> 7(901)764-51-54</p>
    </address>

    <address class="row">
        <strong class="badge badge-danger">Commerce:</strong><a href="mailto:SegromGames@gamil.com">SegromGames@gamil.com</a><br />
        <strong class="badge badge-danger">QA:</strong> <a href="mailto:Segrom2@Webmail.ru">Segrom2@Webmail.ru</a>
    </address>
</div>
<div class="col-xl"></div>
