@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Battle Grid</h1>
        <p class="lead">Многопользовательская онлайн пошаговая стратегия с элементами прокачки. Создавайте свой сквад и побеждайте.</p>
        <hr class="my-4">
        <p>Пройдите регистрацию и начинайте играть</p>
        <p class="lead">
            @Html.ActionLink("Зарегистрироваться", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class= "btn btn-secondary btn-lg active", role="button" })
        </p>
    </div>
</div>

